<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Example Basic Single Page Application</h5>
        <p class="grey-text text-lighten-4">
         Easy to Learn, Easy to Use & Pretty Code
         </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Follow Us</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/groups/586189408435343">Facebook Group</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://t.me/joinchat/GQM-wkPfcIqWGz5nb0ez2A">Telegram Group</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/lamhotsimamora/GF-Javascript">Github | GF-1.js</a></li>
             <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/lamhotsimamora/Example-Single-Page-Application-Garuda-Query-Javascript">Github | Example SPA </a></li>  
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    CSS by <a href="http://materializecss.com/" target="_blank">Materealize</a>
    </div>
  </div>
</footer>
    