
<hr>
<div class="row">	 
	<div class="card-panel hoverable">
		<h5 class="center-align"> 
			 <p class="flow-text">Welcome to Garuda Query Javscript !</p>

			 <h4 class="flow-text" align="center">
			 	Demo Basic Single Page Application !
			 </h4>
			 <hr>

			 <h4 class="flow-text" align="center">
			 	Press SPACE BAR for open the TOAST </br>
			 	Press INSERT for open Profile Page</br>
			 	Press HOME for open Home Page</br>
			 </h4>
			 <hr>
			 <h5 id="txt_search" class="flow-text" align="center"> </h5>
             <hr>
		</h5>
		<center><a class="waves-effect waves-light btn-large" id="btn_next">Next</a></center>
		 
	</div>
</div>
<hr>
<nav>

    <div class="nav-wrapper">

      <form>

        <div class="input-field">
			
          <input id="search" type="search" placeholder="Type Profile/Contact/Galery/About & then Enter ..." required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
 <nav class="nav-extended">
	  <div class="nav-content">
      <span class="nav-title"></span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
        <i class="material-icons"> </i>
      </a>
    </div>

 </nav>
